@import url('login.css');
@import url('sidebar.css');
@import url('recommendation.css');
@import url('management.css');
@import url('youtube.css');
@import url('diagnosis.css');

/* Tổng thể */
body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: #f4f6f9;
    font-family: sans-serif;
}
